[submodule "customer-service"]
	path = customer-service
	url = https://github.com/mrurespect/microservices-springcloud
[submodule "spring-cloud-gateway"]
	path = spring-cloud-gateway
	url = https://github.com/mrurespect/spring-cloud-gateway
[submodule "eureka-discovery-service"]
	path = eureka-discovery-service
	url = https://github.com/mrurespect/-eureka-discovery-service
