[submodule "customer-service"]
	path = customer-service
	url = https://github.com/mrurespect/microservices-springcloud
[submodule "spring-cloud-gateway"]
	path = spring-cloud-gateway
	url = https://github.com/mrurespect/spring-cloud-gateway
[submodule "eureka-discovery-service"]
	path = eureka-discovery-service
	url = https://github.com/mrurespect/-eureka-discovery-service
[submodule "inventory-service"]
	path = inventory-service
	url = https://github.com/mrurespect/inventory-service
[submodule "billing-service"]
	path = billing-service
	url = https://github.com/mrurespect/Billing-service
[submodule "Billing-service"]
	path = Billing-service
	url = https://github.com/mrurespect/Billing-service
[submodule "config-repo"]
	path = config-repo
	url = git@github.com:mrurespect/config-repo.git
